<!DOCTYPE html>
<html>
<head>
	<title> C'AIRA S. </title>
	<meta charset="utf-8">
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<script src="https://use.fontawesome.com/1f4c6f61c4.js"></script>
  	<link href="https://fonts.googleapis.com/css?family=Jacques+Francois+Shadow" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>

