<% include partials/header %>


<div class="parallax1">
	<div class="caption">
		<span id="titleMain" class="border">
	  		C'Aira Shields
	  	</span>
	  	<p id="webdev">Website Developer</p>
	  	<p style="font-size:1.5em; padding-right:20px; color:#fff;"> <a href="https://github.com/cairacshields"><i style="margin-right:15px;" class="fa fa-github" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/c-aira-shields-890126140/" <i class="fa fa-linkedin" aria-hidden="true"></i></a></p>
	</div>
</div>

<div class="content1">
	
	<h3 style="text-align:center; font-family: 'Jacques Francois Shadow', cursive;"> About Me </h3>
	<h5> Born and raised in one of the greatest cities in America,<em> Chicago</em>. High School was split between home schooling and public schooling. Moved to Alabama in 2016. Pet lover, writer, artist, baker, and music enthusiast. Began writing code in Java back in 2015. Ventured into Android with my Java knowledge and found my passion for mobile development. Learned Front end skills such as HTML, CSS, BootStrap, JavaScript, and jQuery.</h5>
	<div class="container">
	  <p>I've decided to include some picture's so that you can put a face to the backstory.If you'd rather just view my projects, scroll down to the next secition or click the green button.</p>
	  <a href="/index/#projectsId"><button type="button" class="btn btn-success"> Just View Projects </button></a>
	  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Show pictures</button>
	  <div id="demo" class="collapse">
	    <div class="container">
	    	<div class="row">
	   			 <div class="col-md-3">
	   			 	<div class="card">
					  <img class=" img-responsive card-img-top img-thumbnail" src="https://lh5.googleusercontent.com/29-z6jSrOudZM3R4m8AHtxleNz6zyXKt8oxv_Www9K9zdpUYkUZetleijky5YxCa672zrco5K6Jly8JloVZvCgKLQGvBFi-j5VwC=w1920-h949-rw" alt="Me and my puppy.">
					  <div class="card-block">
					    <p class="card-text">This is me and my puppy Carmellow.</p>
					  </div>
					</div>
	   			 </div>
	   			 <div class="col-md-3">
	   			 	<div class="card">
					  <img class="img-responsive card-img-top img-thumbnail" src="https://lh6.googleusercontent.com/uKsUHBTUC5ot9Mog4Fg_VxWod0YR04caetSJ_2LLbzJbJ3K58-yETgS65jRUn9dwHAnXOqU9qIZJogqnsW8Kd-1ErBQ1b7EJ30_w=w1920-h949-rw" alt="Writing some code.">
					  <div class="card-block">
					    <p class="card-text">Writing code as usual.</p>
					  </div>
					</div>
	   			 </div>
	   		</div>
	    </div>
	  </div>
	</div>
	
</div>

<div class="parallax2">
	<div class="caption">
		<span id="projectsId" class="border" style="background-color:transparent; font-size:25px; color:#f7f7f7;">
	  		My Projects
	  	</span>
	</div>
</div>

<div style="position:relative;">

	<div style="color:#ddd; background-color:#282E34; text-align:justify; padding:50px 80px;">
		<div class="container">
		  <h2 id="titleMain">Web & Mobile Projects</h2>
		  <p>Click on a tab to view one of my recent projects.</p>

		  <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#home">Technology Background</a></li>
		    <li><a data-toggle="tab" href="#menu1">YelpCamp</a></li>
		    <li><a data-toggle="tab" href="#menu2">K&D Auto</a></li>
		    <li><a data-toggle="tab" href="#menu3">Quote Machine</a></li>
		    <li><a data-toggle="tab" href="#menu4">Color Game</a></li>
		    <li><a data-toggle="tab" href="#menu5">Tap For Sound</a></li>
		    <li><a data-toggle="tab" href="#menu6">Popular Movies App</a></li>
		    <li><a data-toggle="tab" href="#menu7">Make Me App</a></li>
		    <li><a data-toggle="tab" href="#menu8">Gradient TO-DO</a></li>
		    <li><a data-toggle="tab" href="#menu9">Web Weather</a></li>
		  </ul>

		  <div class="tab-content">
		    <div id="home" class="tab-pane fade in active">
		      <h3>My Stack:</h3>
		      <ul>
		      	<li>HTML & CSS</li>
		      	<li> JavaScript & jQuery</li>
		      	<li>Node.js & Express (Passport, EJS)</li>
		      	<li>MongoDB (Mongoose)</li>
		      	<li>BootStrap, Semantic UI, W3.CSS, etc.</li>
		      	<li>Git & GitHub</li>
		      	<li>Heroku and mLab</li>
		      	<li>Java, Android Studio</li>
		      </ul>
		    </div>
		    <div id="menu1" class="tab-pane fade in">
		      <h3>Yelp Camp</h3>
		      <p>A website leveraging the power of Node.js and Express, with Bootstrap and custom CSS shaping the UI.</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-6">
		      			<img class="img-responsive" src="https://lh4.googleusercontent.com/_vEXQQN9bhm25Q1D_3muGBQ_IHhWdY1TYR9JolzyQ7dzmnzJv-wMw7SjjMmzNRSrFppzr942tYzdH3lxEDplf_oRg4qjMauZH9rc=w1920-h949-rw">
		      		</div>
		      		<div class="col-md-5">
		      			<img class="img-responsive" src="https://lh6.googleusercontent.com/R-JhB8ZQI7C0bRMDmXDs45ywVuMHl_gu_uP8RD14c8Cp3QLfriVkJ6aW9E5liBISjWb3KwlAduLRMbBu3iccN1c5z1Uy_V1gV54N=w1920-h949-rw">
		      		</div>
		      	</div>
		      </div>
		      <a href="https://aqueous-wave-79259.herokuapp.com/"><button class="btn btn-warning"> View YelpCamp Live </button></a>
		     </div>
		    <div id="menu2" class="tab-pane fade in">
		      <h3>K&D Auto</h3>
		      <p>A car dealership website utilizing MongoDB to manage vehicles and contact form submissions. Passport handles user account creation, deletion, and etc. *Still in development stage 3/4 complete*</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-6">
		      			<img class="img-responsive" src="https://lh4.googleusercontent.com/WCySZEb_aBnsks6vyIO6gwxuPOGYSLropk3bAvKcKzvTziabgmq-R9-0ipHvGQAEndgkZ_CZQUUfX2yvAYwDngkWgW_52irJ-ixe=w1920-h949-rw">
		      		</div>
		      		<div class="col-md-5">
		      			<img class="img-responsive" style="height:200px;" src="https://lh4.googleusercontent.com/j-RUevuvdIupLTGHoITYjCIweDi043zxIC0m3QanRxXPuLjoxj0lfvdOh9swket5yLireKsIFy-72pewou_-qgPQIy3w6os4aKlc=w1920-h949-rw">
		      		</div>
		      	</div>
		      </div>
		      <a href="https://blooming-gorge-13084.herokuapp.com/"><button class="btn btn-danger"> View K&D Auto Live </button></a>
		    </div>
		    <div id="menu3" class="tab-pane fade in">
		      <h3>Quote Machine</h3>
		      <p>Takes advantage of jQuery and CSS to parse JSON from a web API. Generates a random quote and author, then allows user to post the quote to Twitter.</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-8">
		      			<img class="img-responsive" src="https://lh3.googleusercontent.com/4-Jq0wyroQeOA11aiIitxxgE0uhZq27R0zLDbNGjrfHwmM3XwdrmQw58L3Vve2bqOdixdjNjbcu8wKOMAiM2yrDufJeIaO0HdmqX=w1920-h949-rw">
		      		</div>
		      	</div>
		      </div>
		      <a href="http://cairashields.pcriot.com/quotes/"><button class="btn btn-info"> View Quote Machine Live </button></a>
		    </div>
		    <div id="menu4" class="tab-pane fade in">
		      <h3>Color Game</h3>
		      <p>Guess the given RGB color with this intuitive color guessing game. Uses Javascript, HTML and CSS with BootStrap.</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-8">
		      			<img class="img-responsive" src="https://lh6.googleusercontent.com/hDuaVK6Z_wbPa5R6CRk_p0YEUkuuSETXZPKqWmnGrBUcT7gfmJVI52l5P71Y4MfypVxInfD8mcgMrPeSM1nA6jWKDSJP2k4RWYVJ=w1920-h949-rw">
		      		</div>
		      	</div>
		      </div>
		      <a href="https://tongue-tied-discont.000webhostapp.com/"><button class="btn btn-primary"> Play Color Game Live </button></a>
		    </div>
		    <div id="menu5" class="tab-pane fade in">
		      <h3>Tap-For-Sound</h3>
		      <p>I know, the image is a bit awkward, but play the game by pressing the keys on your keyboard and you'll be addicted! Tap any key for a colorful array of sounds!</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-8">
		      			<img class="img-responsive" src="https://lh4.googleusercontent.com/cMbj_fLB0hpFQe5WZ5Nxb6DabvjKkQW3J-kvWi3os72pOe4boYBFl_vgXlliaV62nYzOg6nVlBHrGOjnWOXaVkMW0v65HSVgapTW=w1920-h949-rw">
		      		</div>
		      	</div>
		      </div>
		      <a href="cairashields.pcriot.com/TFS/"><button class="btn btn-success"> Play Tap-for-sound Live </button></a>
		    </div>
		    <div id="menu6" class="tab-pane fade in">
		      <h3>Popular Movies Android App</h3>
		      <p>Here is an app that uses an ArrayAdapter to connect a gridview with JSON from a web service. It is loading the image URL from each movie object into a custom XML layout. I also use picasso to handle the loading an placement!</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-8">
		      			<img class="img-responsive" src="https://github.com/cairacshields/PopularMovies/blob/master/Screen%20Shot%202016-07-20%20at%207.00.39%20PM.png?raw=true">
		      		</div>
		      	</div>
		      </div>
		      <a href="https://github.com/cairacshields/PopularMovies"><button class="btn btn-info"> View the code </button></a>
		    </div>
		    <div id="menu7" class="tab-pane fade in">
		      <h3>Make Me Android App</h3>
		      <p>Find the best products from your favorite brands! Everything from Smashbox, Revlon, L'Oreal, Covergirl, Pacifica, Maybelline and so many more!</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-8">
		      			<img class="img-responsive" src="https://lh4.googleusercontent.com/0up0iH6Mtho__ypV5onk7BhQ5YH6FDpi72KcsKKsVCwvt79xU2Ic7uWJoFo-2D4VwLraQKg1Zb9HF6PDy_ZExDBGs2YUHZeDSYVY=w1920-h949">
		      		</div>
		      	</div>
		      </div>
		      <a href="https://play.google.com/store/apps/details?id=com.my.imac.makeme"><button class="btn btn-secondary"> View in the Play Store </button></a>
		    </div>
		    <div id="menu8" class="tab-pane fade in">
		      <h3>Gradient TO-DO</h3>
		      <p>jQuery dynamic list project. Add, delete and repeat!</p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-8">
		      			<img class="img-responsive" src="https://lh3.googleusercontent.com/QDBNWkZJzW_uTxexnh8i5a6-ijKms-iwCUNJfiKQBWYEg8C3K-m5Vpf9OGJXuVpN4XtS4A9mB6u-TzKL01iOoqV3Kj9mu4bKFkjH=w1920-h949-rw">
		      		</div>
		      	</div>
		      </div>
		      <a href="http://cairashields.pcriot.com/todo/"><button class="btn btn-warning"> View TO-DO live </button></a>
		    </div>
		    <div id="menu9" class="tab-pane fade in">
		      <h3>Web Weather</h3>
		      <p>Using a web API to get up to date weather information and displaying it for the user. jQuery handles the get request and looping through the content that is returned in JSON format. </p>
		      <div class="container">
		      	<div class="row">
		      		<div class="col-md-8">
		      			<img class="img-responsive" src="https://lh5.googleusercontent.com/2dM4lLQYGMb6Gq842qOIptljHX1I8a8VJsqMgkn9HEjeHZvUlhVkaXZKjUcAWm4jjx8_TTlK2_eH7IZFzaLZN3LPpvwMLX05WttP=w1920-h949-rw">
		      		</div>
		      	</div>
		      </div>
		      <a href="https://github.com/cairacshields/web-weather"><button class="btn btn-primary"> View the code </button></a>
		    </div>
		  </div>
		</div>
	</div>

</div>

<div class="parallax3">
	<div class="caption">
		<span class="border" style=" font-size:25px; color:#f7f7f7;">
	  		Contact Me
	  	</span>
	</div>
</div>

<div style="position:relative;">

	<div style="color:#ddd; background-color:#282E34; text-align:justify; padding:50px 80px;">
		<div class="card text-center">
		  <div class="card-header">
		    Let's get in touch!
		  </div>
		  <div class="card-block">
		    <h4 class="card-title">The best way to reach me:</h4>
		    <p class="card-text">Email: caira102797@gmail.com</p>
		    <p class="card-text">Phone: (256)-335-3079</p>

		    <p style="font-size:1.5em; padding-right:20px; color:#fff;"> <a href="https://github.com/cairacshields"><i style="margin-right:15px;" class="fa fa-github" aria-hidden="true"></i></a><a href="https://www.linkedin.com/in/c-aira-shields-890126140/" <i class="fa fa-linkedin" aria-hidden="true"></i></a></p>
		  </div>
		  <div class="card-footer text-muted">
		    Designed and Developed by C'Aira Shields ©
		  </div>
		</div>
		
	</div>

</div>
<div class="parallax4">
	<div class="caption">
		<span class="border">
	  		Nice to meet you!
	  	</span>
	</div>	
</div>
<% include partials/footer %>